*{
    --son-of-ur-jpg: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("../img/banners/son-of-ur.avif");
}

body {
    background-color: black ;
}

/* #region Principal */
.principal{
    padding: 40px 0;
    text-align: center;
    min-height: 300px;
}

.principal-info{
    min-height: 600px;
    gap: 10px;
}
.principal-info > .quote{
    height: 200px;
    font-size: 18px;
    font-weight: 500;
}

.quote-owner{
    color: var(--lol-main-color);
}

.principal-info > .biografia{
    min-height: 400px;
    display: flex;
    justify-content: space-evenly;
}

.biografia-corta{
    text-align: justify;
}

.biografia-corta::first-letter{
    font-size: 40px;
    font-weight: 500;
    border-bottom: 2px solid var(--lol-main-color);
    float: left;
    margin: 0 10px;
    margin-top: 0;
    line-height: 1.2;
    padding: 0 6px;
}

.principal-aside{
    min-height: 600px;
    display: flex;
    flex-direction: column;
}

.principal-aside > .aside-info{
    min-height: 75px;
}

.aside-icon-box{
    width: 75px;
    height: 75px;
}

.aside-icon-box > img{
    height: 60px;
    aspect-ratio: 1/1;
}

.aside-text-box{
    height: 75px;
}

.role-title{
    color: var(--lol-main-color);
}

.region-title{
    color: var(--lol-main-color);
}

/* #endregion */

/* #region Historia */
.historia{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
    aspect-ratio: 16/9;

    color: var(--lol-text-color);

    background-image: var(--son-of-ur-jpg);
    background-size: cover;
}

.historia > img {
    max-width: 100%;
}

.historia-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.historia-info > p{
    text-align: center;
}

/* #endregion */
