/* Registro */

h2.titulo{
    color: var(--lol-main-color);
}

.olvido-password{
    color: var(--lol-text-color);
    font-size: 14px;
    opacity: .5;
}

.olvido-password:hover{
    opacity: 1;
}

section{
    padding: 50px 0;
}

/* End Registro */
