/* #region Skins */
.principal{
    display: flex;
    flex-direction: column;
}
.skin-container{
    display: flex;
    flex-direction: column;
    padding: 30px 0;
}

.skin-info-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 50px;
}

.nombre-skin{
    text-transform: uppercase;
    color: var(--lol-main-color);
}

.section-sprites{
    display: flex;
    flex-direction: row;
}

.main-sprite > img{
    aspect-ratio: 1/1;
}

.chromas img{
    aspect-ratio: 1/1;
}

/* #endregion */

 /* #region Backgrounds */

 *{
    --urgot-original: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("../img/banners/Urgot_OriginalSkin.avif");
    --urgot-carnicero: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("../img/banners/Urgot_ButcherSkin.avif");
    --urgot-crabgot: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("../img/banners/Urgot_GiantEnemyCrabgotSkin.avif");
    --urgot-cosplay: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("../img/banners/Urgot_PajamaGuardianCosplaySkin.avif");
    --urgot-terror: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("../img/banners/Urgot_FrightNightSkin.avif");
    --urgot-belico: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("../img/banners/Urgot_BattlecastSkin.avif");
    --urgot-forajido: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("../img/banners/Urgot_HighNoonSkin.avif");

 }

 .skin-container{
    background-size: cover;
 }

 #urgot_original{
    background-image: var(--urgot-original);
 }

 #urgot_carnicero{
    background-image: var(--urgot-carnicero);
 }

 #urgot_crabgot{
    background-image: var(--urgot-crabgot);
 }

 #urgot_cosplay{
    background-image: var(--urgot-cosplay);
 }

 #urgot_terror{
    background-image: var(--urgot-terror);
 }

 #urgot_belico{
    background-image: var(--urgot-belico);
 }

 #urgot_forajido{
    background-image: var(--urgot-forajido);
 }
 /* #endregion */
